<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="" >
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contact - Daily News </title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">


</head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<section id="ccr-site-title">
  <div class="container">
    <div class="site-logo">
      <a href="index.html" class="navbar-brand">
        <img src="img/logo.jpg" alt="Side Logo" />
        <h1>Coin <span>Collection</span></h1>
        <h3>Sưu Tập Tiền Xu</h3>
      </a>
    </div> <!-- / .navbar-header -->

    <div class="Banner">
      <img src="img/banner.jpg" alt="Banner" />
    </div> <!-- / .adspace -->

  </div>	<!-- /.container -->
</section> <!-- / #ccr-site-title -->



<section id="ccr-nav-main">
  <nav class="main-menu">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-main">
          <i class="fa fa-bars"></i>
        </button> <!-- /.navbar-toggle -->
      </div> <!-- / .navbar-header -->

      <div class="collapse navbar-collapse ccr-nav-main">
        <ul class="nav navbar-nav">
          <li><a class="active" href="index.html">Trang Chủ</a></li>
          <li class="dropdown">
            <a href="#">Phòng Trưng Bày<i class="fa fa-caret-down"></i></a>
            <ul class="sub-menu">
              <li><a href="xu việt.html">Tiền xu Việt Nam</a></li>
              <li><a href="blog-2.html">Tiền xu Thế Giới</a></li>
            </ul><!-- /.sub-menu -->
          </li><!-- /.dropdown -->
          <li><a href="tin tức.html">Tin tức tiền tệ</a></li>
          <li><a href="contact.html">Cách thức giao dịch</a></li>
        </ul> <!-- /  .nav -->
      </div><!-- /  .collapse .navbar-collapse  -->

      <div id="currentTime" class="pull-right current-time">
        <i class="fa fa-clock-o"></i> 12:10 pm


      </div><!-- / #currentTime -->

    </div>	<!-- /.container -->
  </nav> <!-- /.main-menu -->
</section> <!-- / #ccr-nav-main -->




<section id="ccr-nav-below-main">
  <nav class="second-menu">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-below-main">
          <i class="fa fa-bars"></i>
        </button> <!-- /.navbar-toggle -->
      </div> <!-- / .navbar-header -->

      <div class="collapse navbar-collapse ccr-nav-below-main">
        <ul class="nav navbar-nav">
          <li><a href="#">Tin Tức Tiền Xu</a></li>
          <li><a href="#">Kinh Nghiệm Sưu Tập</a></li>
          <li><a href="#">Tư Liệu Cho Người Chơi</a></li>
        </ul> <!-- /.nav /.navbar-nav -->
      </div>

      <div class="ccr-language">
        <ul>
          <li>Ngôn ngữ:</li>
          <li><a href="#"><img src="img/uk.png" alt="UK">English</a></li>
          <li><a href="#"><img src="img/france.png" alt="France">France</a></li><li>
          <a href="#"><img src="img/garman.png" alt="Garman">Vietnam</a></li>
        </ul>
      </div> <!-- /.ccr-language -->
    </div><!-- /.container -->
  </nav><!-- /.second-menu -->
</section><!-- / #ccr-nav-below-main -->

</header> <!-- /#ccr-header -->


<section id="ccr-main-section">
  <div class="container">


    <section id="ccr-left-section" class="col-md-8">

      <div class="current-page">
        <a href="index.html"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> Thông Tin Giao Dịch
      </div> <!-- / .current-page -->

      <section id="ccr-contact-form">
        <p>Thông Tin Tài Khoản</p>
        <form action="#" method="post" id="commentform">
          <input id="author" name="author" type="text" placeholder="Họ Tên" value="" required>
          <input id="email" name="email" type="email" placeholder="Email" value="" required>
          <input id="url" name="url" type="url" placeholder="Website" value="">
          <textarea id="comment" name="comment" placeholder="Nội Dung Giao Dịch" rows="8" required></textarea>
          <input name="submit" type="submit" id="submit" value="Gửi">

        </form> <!-- /#commentform -->

      </section> <!-- /#ccr-contact-form -->



    </section><!-- /.col-md-8 / #ccr-left-section -->



    <section  id="ccr-right-section" class="col-md-4">
      <section id="ccr-contact-sidebar">
        <p>
          <span>Địa Chỉ Liên Hệ</span>
        </p>
        <address>
          <p>
            Địa chỉ: 349 Minh Khai
          </p>
          <p>
            Hai Bà Trưng, Hà Nội
          </p>
          <p>
            Điện thoại: +84 972 093 261
          </p>
          <p>
            Email: dangnghia.nguyen62@gmail.com
          </p>
        </address>


        <p>
          <span>Theo dõi thông tin</span>
        </p>
        <ul>
          <li>
            <a href="#"  class="google-plus"><i class="fa fa-google-plus"></i></a>
          </li>
          <li >
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          </li>
          <li >
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          </li>
          <li >
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </section> <!-- /#ccr-contact-sidebar -->
    </section><!-- / .col-md-4  / #ccr-right-section -->


  </div><!-- /.container -->
</section><!-- / #ccr-main-section -->

<iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3724.8686624575525!2d105.867797!3d20.9979012!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac044fc59f25%3A0xaffc7b5acb94279!2zQ2h1bmcgY8awIFRpbWVzIENpdHksIEtodSDEkcO0IHRo4buLIFRpbWVzIENpdHksIFbEqW5oIFR1eSwgSGFpIELDoCBUcsawbmcsIEjDoCBO4buZaSwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1416811439851">
</iframe>






<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>