<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="" >
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contact - Daily News </title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">


</head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<section id="ccr-main-section">
  <div class="container">


    <section id="ccr-left-section" class="col-md-8">
      <h2>Tiền cổ - Mua bán tiền cổ - Sưu tầm </h2><br>

    <p>Tiền cổ, cũng như những cổ vật khác, khiến nhiều người “chết mê chết mệt” bởi chứa đựng những giá trị lịch sử độc đáo.
      Từ đồng tiền cổ nằm lọt thỏm trong lòng bàn tay, hậu thế có thể biết được sự biến thiên của lịch sử qua từng giai đoạn,
      cả những dâu bể đời người, những vương triều trầm luân, hưng phế theo thời gian</p>
      <p> Những đồng tiền cổ thì chứa những giá trị cao cả mà thế hệ sau luôn muốn tìm tòi, khám phá. Vì thế để phục vụ cho nhu cầu
      của những ai đam mê việc sưu tầm , trao đổi mua bán các loại tiền cổ thì các bạn có thể liên hệ với chúng tôi qua địa chỉ sau:
       </p>
      <br>
      <ul>
        <li>Địa chỉ:     349 Minh Khai, Hai Bà Trưng, Hà Nội</li><br>
        <li>Số điện thoại:   +84 972 093 261</li><br>
        <p>hoặc</p><br>
        <li> Địa chỉ:      261 Nguyễn Trãi, Thanh Xuân, Hà Nội</li><br>
        <li>Số điện thoại: +84 268 078 254</li>
        <p>hoặc</p><br>
        <li>Bạn có thể gửi mail tới: muabantienco@gmail.com</li>
      </ul>


    </section><!-- /.col-md-8 / #ccr-left-section -->



    <section  id="ccr-right-section" class="col-md-4">
      <section id="ccr-contact-sidebar">
        <p>
          <span>Địa Chỉ Liên Hệ</span>
        </p>
        <address>
          <p>
            Địa chỉ: 349 Minh Khai
          </p>
          <p>
            Hai Bà Trưng, Hà Nội
          </p>
          <p>
            Điện thoại: +84 972 093 261
          </p>
          <p>
            Email: muabantienco@gmail.com
          </p>
        </address>


        <p>
          <span>Theo dõi thông tin</span>
        </p>
        <ul>
          <li>
            <a href="#"  class="google-plus"><i class="fa fa-google-plus"></i></a>
          </li>
          <li >
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          </li>
          <li >
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          </li>
          <li >
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </section> <!-- /#ccr-contact-sidebar -->
    </section><!-- / .col-md-4  / #ccr-right-section -->


  </div><!-- /.container -->
</section><!-- / #ccr-main-section -->







<iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3724.8686624575525!2d105.867797!3d20.9979012!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac044fc59f25%3A0xaffc7b5acb94279!2zQ2h1bmcgY8awIFRpbWVzIENpdHksIEtodSDEkcO0IHRo4buLIFRpbWVzIENpdHksIFbEqW5oIFR1eSwgSGFpIELDoCBUcsawbmcsIEjDoCBO4buZaSwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1416811439851">
</iframe>






<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>