<header id="ccr-header">
  <section id="ccr-nav-top" class="fullwidth">
    <div class="">
      <div class="container">
        <nav class="top-menu">
          <ul class="left-top-menu">
            <li><a href="index.html">Trang Chủ</a></li>
            <li><a href="#">Địa Chỉ</a></li>
            <li><a href="contact.html">Liên hệ</a></li>
          </ul><!-- /.left-top-menu -->

          <ul class="right-top-menu pull-right">
            <li><a href="#">Đăng Nhập</a></li>
            <li><a href="#">Đăng Kí</a></li>
            <li><a href="#">Theo Dõi</a></li>
            <li>
              <form class="form-inline" role="form" action="#">
                <input type="search" placeholder="Tìm kiếm..." required>
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </li>
          </ul> <!--  /.right-top-menu -->
        </nav> <!-- /.top-menu -->
      </div>
    </div>
  </section> <!--  /#ccr-nav-top  -->



  <section id="ccr-nav-main">
    <nav class="main-menu">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-main">
            <i class="fa fa-bars"></i>
          </button> <!-- /.navbar-toggle -->
        </div> <!-- / .navbar-header -->

        <div class="collapse navbar-collapse ccr-nav-main">
          <ul class="nav navbar-nav">
            <li><a class="active" href="index.html">Trang Chủ</a></li>
            <li class="dropdown">
              <a href="#">Phòng Trưng Bày<i class="fa fa-caret-down"></i></a>
              <ul class="sub-menu">
                <li><a href="xu việt.html">Tiền xu Việt Nam</a></li>
                <li><a href="blog-2.html">Tiền xu Thế Giới</a></li>
              </ul><!-- /.sub-menu -->
            </li><!-- /.dropdown -->
            <li><a href="<%= Pathname(home_tintuc_path) %>">Tin tức tiền tệ</a></li>
            <li><a href="contact.html">Cách thức giao dịch</a></li>
          </ul> <!-- /  .nav -->
        </div><!-- /  .collapse .navbar-collapse  -->

        <div id="currentTime" class="pull-right current-time">
          <i class="fa fa-clock-o"></i> 12:10 pm


        </div><!-- / #currentTime -->

      </div>	<!-- /.container -->
    </nav> <!-- /.main-menu -->
  </section> <!-- / #ccr-nav-main -->




  <section id="ccr-nav-below-main">
    <nav class="second-menu">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-below-main">
            <i class="fa fa-bars"></i>
          </button> <!-- /.navbar-toggle -->
        </div> <!-- / .navbar-header -->

        <div class="collapse navbar-collapse ccr-nav-below-main">
          <ul class="nav navbar-nav">
            <li><a href="#">Tin Tức Tiền Xu</a></li>
            <li><a href="#">Kinh Nghiệm Sưu Tập</a></li>
            <li><a href="#">Tư Liệu Cho Người Chơi</a></li>
          </ul> <!-- /.nav /.navbar-nav -->
        </div>

        <div class="ccr-language">
          <ul>
            <li>Ngôn ngữ:</li>
            <li><a href="#"><img src="img/uk.png" alt="UK">English</a></li>
            <li><a href="#"><img src="img/france.png" alt="France">France</a></li><li>
            <a href="#"><img src="img/garman.png" alt="Garman">Vietnam</a></li>
          </ul>
        </div> <!-- /.ccr-language -->
      </div><!-- /.container -->
    </nav><!-- /.second-menu -->
  </section><!-- / #ccr-nav-below-main -->

</header> <!-- /#ccr-header -->